body {
  background: #2C7391;
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 25px;
  color: #fff;
}

#header * {
  font-family: "futura-pt",sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 72px;
  margin-top: 50px;
  color: #fff;
  line-height: 120%;
  width: 100%;
  text-shadow: 4px 4px #345c6d;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  margin: 10px;
  line-height: 120%;
  color: #7bb1c8;
}
h2.def { color: #f3b46e; }

h3 { line-height: 160%; }

li {
  list-style-type: none;
}

#strap ul { width: 100%; }
#example, .example { text-align: left; background-color: #345c6d; border-radius: 5px;}
.example button { margin: 10px; }
.example.paused,
#example.paused { background-color: #e6b73e; color: #2C7391; }

#nav { margin-left: -34px; overflow: hidden;}
#nav li { display: inline;
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
}

#nav a { background: #497C91;
  padding: 4px;
  border-radius: 5px;
  text-decoration: none; 
  color: #fff;
}
#nav a:hover { background: #345c6d; }

.normal {
  font-weight: normal;
}

.option, pre {
  display: block;
  background: #345c6d;
  width: 730px;
  padding: 10px;
  color: #e6973e;
  text-align: left;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 0px;
  overflow: hidden;
  line-height:160%;
}
.option .param { margin: 10px 0 0 20px; }

.container {
  width: 750px;
  margin: 0px auto;
  text-align: center;
}

.footer {
  font-size: 15px;
}

.blue { 
  color: #f3c591;
}

a { color: #f3b46e; text-decoration: none;}
a:hover { color: #0e465e; }

.blue A { 
  color: #0b4d8c;
}
.blue A:hover { 
  color: #337ABF;
}

.left {
  text-align: left;
}

p {
  font-size: 20px;
}
  
hr {
  margin: 20px 0px 20px 0px;
  height: 2px;
  background-color: #345c6d;
  /*background-image: url('/images/separator.png');*/
  border: 0;
}

.pad {
  padding: 5px 0px 5px 0px; 
}

.download {
  background: #378c54;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 20px 60px 20px 60px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.download:hover {
  background: #0f6c34;
  color: #eee;
}

::selection {
        background: #ffcc33;
}
::-moz-selection {
        background: #ffcc33;
}

.option {
  text-align: left;
  margin-bottom: 20px;
}

.option .name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.option .param {
  color: #fff;
}

.option .desc {
  color: #e6973e;
}

.option .default {
  font-style: italic;
  color: #ad804e;
}

.option .default:before {
  content: "(Default: ";
  color: #ad804e;
}
.option .default:after {
  content: ")";
  color: #ad804e;
}

.option .desc:before {
  content: "Description: ";
}
